#title{
  text-align: center
}

#description{
  text-align: center;
}

#survey-form{
  background-color: #f2f2f2;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
}

body{
  background-color: #98fb98;
}
